<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastShop - Cadastros</title>
</head>
<body>
    <header>
        <div class="container-fluid head">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" accesskey="p" href="#">Página Inicial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{url_for('cad_usuarios')}}>Cadastros de Usuários</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{url_for('cad_anuncios')}}>Cadastros de Anuncios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{url_for('relat_compra')}}>Relatórios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{url_for('anuncios_fav')}}>Anuncios Favoritos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{url_for('anuncios_categ')}}>Categoria de Anuncios</a>
              </li>
        </ul>	
    </div>
    </header>

    <h1>Bem Vindo ao FastShop</h1>
    <h2>ACHOU  COMPROU  CHEGOU</h2>
    <img src={{ url_for('static', filename='images/tenis_exp.jpg')}} alt="Tenis expostos" height="420px" width="420px">
    
    <h2>Anúncios</h2>
    {% for anuncio in anuncios %}
    <div class="anuncio">
        <h2>{{ anuncio.titulo }}</h2>
        <p>Categoria: {{ anuncio.categoria }}</p>
        <p>Descrição: {{ anuncio.descricao }}</p>
        <p>Preço: {{ anuncio.preco }}</p>
        <p>Quantidade: {{ anuncio.quantidade }}</p>

        <h3>Perguntas:</h3>
        <div>
            {% if anuncio.perguntas %}
                {% for pergunta in anuncio.perguntas.split('\n') %}
                    <p><strong>Pergunta:</strong> {{ pergunta }}</p>
                {% endfor %}
            {% else %}
                <p>Não há perguntas para este anúncio ainda.</p>
            {% endif %}
        </div>

        <form action="{{ url_for('enviar_pergunta', id=anuncio.id_anu) }}" method="POST">
            <p><label for="pergunta">Faça uma pergunta sobre este anúncio:</label></p>
            <p><input type="text" id="pergunta" name="pergunta" required></p>
            <p><input type="submit" value="Enviar Pergunta"></p>
        </form>
    </div>
    {% endfor %}

    
</body>
</html>